# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# Testing
.coverage
.pytest_cache/

# mypy
.mypy_cache/